body {
    background: whitesmoke;
}

textarea {
    padding: 12px 15px !important;
    font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
    font-size: 14px !important;
}

label {
    margin-left: 20px;
}

label:first-of-type {
    margin-left: 0;
}
